<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button ng-click="saveToPdf()">save pdf</button>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body" id="canvasParent">
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default" ng-if="currentObject">
            <div class="panel-heading">Object Properties</div>
            <div class="panel-body">
                <div class="well">
                    <label for="">Angle</label>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="degreesC">&ang;&deg;</span>
                            <input class="form-control" ng-model="controls.angle" ng-keydown="" type="text" id="angleText" aria-describedby="degreesC"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" ng-model="controls.angle" step="1" max="360" type="range" value="controls.angle" id="angleSlider">
                    </div>

                </div>

                <div class="well">
                    <label for="">Position</label>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="xPosition"><i class="glyphicon glyphicon-resize-horizontal"></i></span>
                            <input class="form-control" id="positionX" ng-model="controls.position.x" ng-change="setPosition(controls.position)" value="controls.position.x" type="text" aria-describedby="xPosition"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="yPosition"><i class="glyphicon glyphicon-resize-vertical"></i></span>
                            <input class="form-control" id="positionY" ng-model="controls.position.y" ng-change="setPosition(controls.position)" value="controls.position.y" type="text" aria-describedby="yPosition"/>
                        </div>
                    </div>
                </div>

                <div class="well">
                    <label for="">Scale</label>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="scale"><i class="glyphicon glyphicon-resize-full"></i></span>
                            <input class="form-control" id="scaleX" ng-model="controls.scale" ng-change="setScale(controls.scale)" value="controls.scale" type="text" aria-describedby="scale"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="controls.scale" step="0.1" max="3" type="range" value="controls.scale" id="scaleSlider">
                    </div>
                </div>

                <div class="well">
                    <label for="">Color</label>
                    <div class="form-group">
                        <input type="color" class="form-control" ng-model="controls.backgroundColor" ng-change="setBackgroundColor(controls.backgroundColor)" value="controls.backgroundColor">
                    </div>
                </div>

                <div class="well">
                    <label for="">Layer</label>
                    <button class="form-control">bring to front</button>
                </div>
            </div>
        </div>
    </div>
</div>